 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="ie-comp">
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta http-equiv="Cache-Control" content="no-transform " />
<script type="text/javascript" src="__PUBLIC__/style/js/mobile.js"></script>
    <script type="text/javascript">uaredirect("http://m.dede168.com");</script>
	<meta name="keywords" content="仿4493美图网站程序,4493美图网模版" />
	<meta name="description" content="仿4493美图网站程序 - 4493美图网模版 " />
	<title>精仿4493美女图片</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/style/css/global.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/style/css/index.css" />
{include file="Public/header"/}   
<script type="text/javascript" src="__PUBLIC__/style/js/focus.js"></script>
<script type="text/javascript" src="__PUBLIC__/style/js/index.js"></script>
	<div class="jiaodian">
             <!-- 焦点 开始 -->
         <div id="inner"> 
		   <div class="hot-event"> 
		    <div class="switch-nav">
		     <a href="javascript:;" onclick="return false;" class="prev"><i class="ico i-prev"></i><span class="hide-clip">上一个</span><span class="blackbg"></span></a>
		     <a href="javascript:;" onclick="return false;" class="next"><i class="ico i-next"></i><span class="hide-clip">下一个</span><span class="blackbg"></span></a>
		    </div> 

			<div class="event-item" style="display: block;"><a href="/meitu/13184.html" target="_blank" class="banner"><img src="http://img.92demo.com/4493/d/file/p/2015-06-03/7ce67fa2b7668b323ba28be573fa02ae.jpg" class="photo" style="width: 1000px; height: 400px;" alt="猫一样的女人刘奕宁"></a></div>

			<div class="event-item" style="display: none;"><a href="/meitu/38738.html" target="_blank" class="banner"><img src="http://img.92demo.com/4493/d/file/p/2015-06-03/bd59f997698bf6faec5a183203523f3c.jpg" class="photo" style="width: 1000px; height: 400px;" alt="清纯妩媚美女私房"></a></div>

			<div class="event-item" style="display: none;"><a href="/meitu/38690.html" target="_blank" class="banner"><img src="http://img.92demo.com/4493/d/file/p/2015-06-03/d70881a91d33dc1aa7fdc3c6d1a43bbb.jpg" class="photo" style="width: 1000px; height: 400px;" alt="清新短发女人的小性感"></a></div>

			<div class="event-item" style="display: none;"><a href="/meitu/38738.html" target="_blank" class="banner"><img src="http://img.92demo.com/4493/d/file/p/2015-06-03/bd59f997698bf6faec5a183203523f3c.jpg" class="photo" style="width: 1000px; height: 400px;" alt="清纯妩媚美女私房"></a></div>

			<div class="event-item" style="display: none;"><a href="/meitu/38699.html" target="_blank" class="banner"><img src="http://img.92demo.com/4493/d/file/p/2015-06-03/6efcceed07d7f495e35148ed2f61198f.jpg" class="photo" style="width: 1000px; height: 400px;" alt="清凉夏日比基尼美女邱璐瑶"></a></div>


		   
		    <div class="switch-tab"> 
		    	   <a href="javascript:;" hidefocus = 'true' class="current">1</a>
		    	   <a href="javascript:;" hidefocus = 'true' >2</a>
		    	   <a href="javascript:;" hidefocus = 'true' >3</a>
		    	   <a href="javascript:;" hidefocus = 'true' >4</a>
		    	   <a href="javascript:;" hidefocus = 'true' >5</a>

		    </div> 
		   </div> 
	  </div>
       <script type="text/javascript">
       $('#inner').nav({ t: 2000, a: 1000 });
       </script>
        <!-- 焦点 结束 -->        
       </div>
       <div class="all_1000">
       <div class="jingxuan ">
       <div class="title1000"><div class="jingxuan "><div class="title1000"><div class="title jx"><a>图片精选</a></div>
       <div class="titleleft"><a href="/new/" target="_blank">最新美图</a>|<a href="/hot/" target="_blank">热门美图</a>|<a href="/top/" target="_blank">美图排行榜</a>|<a href="/zhuanti" target="_blank">美图专题推荐</a>|<a href="/baidunews.xml" target="_blank">美女图片订阅</a></div></div>
        </div>
        </div>
        <div class="img1000">
        <ul>
		<li class="">
			<a href="/zhuanti/609.html" target="_blank" title="白皙妹子系列">
				<i></i><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/ffa13a63847bc72d1bd46fa4f9b6ed35.png" alt="白皙妹子系列">
			</a>
		</li>
			<li class=""><a href="/zhuanti/610.html" target="_blank" title="魔鬼身材系列"><i></i><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/3b1b5f58d097895b1ac2454f8600fcfa.png" alt="魔鬼身材系列" ></a></li>
			
		</ul>
        </div>            
        </div>
        <div class="clear"></div>
		<div class="adv100090"><script type="text/javascript" src="/d/js/acmsd/thea24.js"></script></div>
		<!--广告位：1000*90-->     
        <div class="all_lanmu ">
        <div class="title1000"><div class="title xg"><a>发现最新</a></div><div class="more"></div>
        </div>
        	<ul class="twoline">
				<li class="">
					<a href="/meitu/13184.html" target="_blank" title="猫一样的女人刘奕宁"><img src="http://img.92demo.com/4493/d/file/p/2015-05-20/slfxymmkhis1181.jpg" alt="猫一样的女人刘奕宁" style="display: block;"><span>猫一样的女人刘奕宁</span></a><b class="b1">2015-06-03</b><b class="b2">7</b>
				</li>

			</ul>            
        </div>       		
        <div class="all_1000">
        <div class="title1000"><div class="title mx"><a href="/mingxing" target="_blank">明星八卦</a></div><div class="more"></div>
        </div>           
        <div class="mx_left">           
        <div class="mx240">
        <div class="img240 piclunbo">
				<a href="/mingxing/38653.html" target="_blank" title="吴奇隆领衔《步步惊心》五位王爷恋情大比拼" class='on'>
					<img src="http://img.92demo.com/4493/d/file/p/2015-06-02/5gmkoz1qyiz8823.jpg" alt="吴奇隆领衔《步步惊心》五位王爷恋情大比拼" ><em></em><span>吴奇隆领衔《步步惊心》五位王爷恋情大比拼</span>
				</a>
				<a href="/mingxing/38651.html" target="_blank" title="揭秘最辉煌2005年超女十强十年后现状">
					<img src="http://img.92demo.com/4493/d/file/p/2015-06-02/m5okyc5mglc8843.jpg" alt="揭秘最辉煌2005年超女十强十年后现状" ><em></em><span>揭秘最辉煌2005年超女十强十年后现状</span>
				</a>
				<a href="/mingxing/38650.html" target="_blank" title="妈妈也是绝世美人的十大女星" ><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/fvb0xmwgtbw8858.jpg" alt="妈妈也是绝世美人的十大女星"><em></em><span>妈妈也是绝世美人的十大女星</span>
				</a>
		</div>
         <ul>
			 <li class="kuang">
			 <a href="javascript:;"><i></i><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/5gmkoz1qyiz8823.jpg" alt="吴奇隆领衔《步步惊心》五位王爷恋情大比拼"></a>
			 </li>
			<li>
			 <a href="javascript:;"><i></i><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/m5okyc5mglc8843.jpg" alt="揭秘最辉煌2005年超女十强十年后现状"></a>
			 </li>
			<li>
			 <a href="javascript:;"><i></i><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/fvb0xmwgtbw8858.jpg" alt="妈妈也是绝世美人的十大女星" ></a>
			 </li>
		</ul>
          </div>              
         <div class="mx240_list">
         <div class="title240"><a href="/mingxing/yulexinwen" target="_blank">娱乐速递</a></div>
         <ul>
		 		 <li><a href="/mingxing/38648.html" target="_blank" title="张钧甯领衔拒绝潜规则遭换角十大女星">张钧甯领衔拒绝潜规则遭换角十大女星</a> </li>
		 		 <li><a href="/mingxing/38645.html" target="_blank" title="谢娜胡军混血儿成刘烨上“爸爸”三大看点">谢娜胡军混血儿成刘烨上“爸爸”三大看点</a> </li>
		 		 <li><a href="/mingxing/38643.html" target="_blank" title="汪小菲精值天价？大S领衔成炫夫狂魔十大女星">汪小菲精值天价？大S领衔成炫夫狂魔十大女星</a> </li>
		 		 <li><a href="/mingxing/38640.html" target="_blank" title="细数红毯女神李冰冰十款惊艳冰雪系礼服">细数红毯女神李冰冰十款惊艳冰雪系礼服</a> </li>
		 		 <li><a href="/mingxing/26932.html" target="_blank" title="李治廷马天宇井柏然杨洋四大陪游男颜值比拼">李治廷马天宇井柏然杨洋四大陪游男颜值比拼</a> </li>
		 		 <li><a href="/mingxing/26928.html" target="_blank" title="倪妮周冬雨领衔十大谋女郎情史大比拼">倪妮周冬雨领衔十大谋女郎情史大比拼</a> </li>
		 		 <li><a href="/mingxing/26957.html" target="_blank" title="鹿晗领衔梳辫子留苹果头卖萌十大男星">鹿晗领衔梳辫子留苹果头卖萌十大男星</a> </li>
		 		 <li><a href="/mingxing/26952.html" target="_blank" title="盘点新还珠八大新生代演员的华丽进化史">盘点新还珠八大新生代演员的华丽进化史</a> </li>
		 		 <li><a href="/mingxing/26947.html" target="_blank" title="2015福布斯中国名人榜排名前十大女星">2015福布斯中国名人榜排名前十大女星</a> </li>
		  
		 </ul>
          </div>               
          </div>
          <div class="mx_con">           
          <div class="mx_con_top">
          <div class="div1">
		   		  <a href="/mingxing/gaoxiaofei.html" target="_blank" title="高晓菲" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/vrh5viltci587.jpg" alt="高晓菲" style="display: inline;"><span>高晓菲</span><em></em></a>
		    
		  </div>		  
          <div class="div2"><div class="img125120">
		    		  <a href="/mingxing/anjinliya.html" target="_blank" title="安金莉娅" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/bjzcrklkenw86.jpg" alt="安金莉娅" style="display: inline;"><span>安金莉娅</span><em></em></a>
		    
		   </div>
		  <div class="clearh10"></div>
		  <div class="img125170">
		   		  <a href="/mingxing/masichun.html" target="_blank" title="马思纯" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/dp1vmr523e488.jpg" alt="马思纯" style="display: inline;"><span>马思纯</span><em></em></a>
		    
		  </div></div>
           <div class="div2"><div class="img125170">
		   		  <a href="/mingxing/jili.html" target="_blank" title="吉丽" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/pbigbmu5drd89.jpg" alt="吉丽" style="display: inline;"><span>吉丽</span><em></em></a>
		    		   
		   </div><div class="clearh10"></div>
		   <div class="img125120">
		    		  <a href="/mingxing/liuziyan.html" target="_blank" title="刘梓妍" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/eoyco2csxb390.jpg" alt="刘梓妍" style="display: inline;"><span>刘梓妍</span><em></em></a>
		    
		   </div></div>
           </div>
           <div class="mx_con_down">
	   <div class="title470">网络女神</div><div class="img155200">
	    		  <a href="/mingxing/wuliaolioa.html" target="_blank" title="吴聊聊" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/amjgnupyfku1525.jpg" alt="吴聊聊" style="display: inline;"><span>吴聊聊</span><em></em></a>
		    
	   </div>
            <div class="ulbox">
            <ul>
					  <li><a href="/mingxing/mohan.html" target="_blank" title="莫寒" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/02wlg4kesyq1513.jpg" alt="莫寒" style="display: inline;"><span>莫寒</span><em></em></a></li>
		   		  <li><a href="/mingxing/zhangxiner.html" target="_blank" title="张心儿" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/u4e3al5itmj1538.jpg" alt="张心儿" style="display: inline;"><span>张心儿</span><em></em></a></li>
		   		  <li><a href="/mingxing/zhangliwen.html" target="_blank" title="张力文" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/1jcyrduecut1529.jpg" alt="张力文" style="display: inline;"><span>张力文</span><em></em></a></li>
		   		  <li><a href="/mingxing/kangyikun.html" target="_blank" title="康逸琨"><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/avwvubth2bt1547.jpg" alt="康逸琨" style="display: inline;"><span>康逸琨</span><em></em></a></li>
		   		  <li><a href="/mingxing/jujingyi.html" target="_blank" title="鞠婧祎" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/4hi2wbbb5kc1537.jpg" alt="鞠婧祎" style="display: inline;"><span>鞠婧祎</span><em></em></a></li>
		   		  <li><a href="/mingxing/zhongenqi.html" target="_blank" title="钟恩淇" class=""><img src="http://img.92demo.com/4493/d/file/p/2015-05-21/hlhdf5hzshl1560.jpg" alt="钟恩淇" style="display: inline;"><span>钟恩淇</span><em></em></a></li>
		               <div class="clear"></div>
            </ul>
            </div>
            </div>         
            </div>         
            <div class="mx_right">
            <div class="mx_alaal"><div class="title240">明星查询</div>
			<div class="mx_search">
			   <form action="/e/action/ListInfo.php" method="GET" target="_blank">
   	<input type="hidden" name="classid" value="14" />	
	<input type="hidden" name="line" value="12" />	
	<input type="hidden" name="tempid" value="2" />	 
	<input type="hidden" name="ph" value="1" />	
	<input name="title" class="s_ipt" id="searchstar" autocomplete="off" type="text" value="输入你想找的明星" onfocus="if(this.value=='输入你想找的明星'){this.value=''}; this.style.color='#666'" onblur="if(this.value==''){this.value='输入你想找的明星'}; this.style.color='#C0C0C0'" style="color:#C0C0C0;" />
	<input class="serch_btn" type="submit" value="搜索">
</form>
            </div>
            <div class="taglist_outer"><dl class="taglist"><dt>按区域搜索:</dt><dd>	<a href="/e/action/ListInfo.php?classid=14&ph=1&area=1" target="_blank">内地</a>
	<a href="/e/action/ListInfo.php?classid=14&ph=1&area=2" target="_blank">港台</a>
	<a href="/e/action/ListInfo.php?classid=14&ph=1&area=3" target="_blank">日韩</a>
	<a href="/e/action/ListInfo.php?classid=14&ph=1&area=4" target="_blank">欧美</a></dd></dl>
       <div class="tagsearch">按职业搜索:<a href="/e/action/ListInfo.php?classid=14&ph=1&job=1" target="_blank">演员</a>
	  <a href="/e/action/ListInfo.php?classid=14&ph=1&job=2" target="_blank">歌手</a>
	  <a href="/e/action/ListInfo.php?classid=14&ph=1&job=5" target="_blank">网络美女</a>
	  <a href="/e/action/ListInfo.php?classid=14&ph=1&job=4" target="_blank">模特</a></div>
	    </div>            
	    </div>                
	    <div class="big_lunhuan">
                <!--一周热文-->
            <div class="mod-hd"><div class="mod-hd-title"></div></div>
		   <script>
		   $(function(){
			   $('.mypicchange ul li').bind('mouseover',function(){
				   $('.mypicchange ul li').removeClass('on');
				   $(this).addClass('on');
			   });
		   });
		   </script>
            <div class="accordion-news-side">
                <div class="mypicchange">
                <ul>
								<li class="on"><div class="yuletit"><a href="/mingxing/15451.html" target="_blank">女明星下车走光露底被拍的尴尬瞬间</a></div><div class="yulepic"><h3><a href="/mingxing/15451.html" target="_blank">"女明星下车走光露底被拍的尴尬瞬间</a></h3><p>近日，詹妮弗&amp;middot;洛佩兹现身纽约，在下车瞬间不幸露底，豪放秀春光被狗仔拍个正着，粉色内裤隐隐若现。…<a href="/mingxing/15451.html" target="_blank">[详细]</a></p></div></li>
				 				<li class=""><div class="yuletit"><a href="/mingxing/38648.html" target="_blank">张钧甯领衔拒绝潜规则遭换角十大女星</a></div><div class="yulepic"><h3><a href="/mingxing/38648.html" target="_blank">"张钧甯领衔拒绝潜规则遭换角十大女星</a></h3><p>2011年，导演李远曝光了赞助商与一线女星之间的潜规则内幕。该赞助商因潜女演员不成功与导演动怒，发短息恐吓导演。据传，该赞助商想要…<a href="/mingxing/38648.html" target="_blank">[详细]</a></p></div></li>
				 				<li class=""><div class="yuletit"><a href="/mingxing/15474.html" target="_blank">山寨版“维密天使”走光露胸贴丰乳肥臀惊呆众人</a></div><div class="yulepic"><h3><a href="/mingxing/15474.html" target="_blank">"山寨版“维密天使”走光露胸贴丰乳肥臀惊呆众人</a></h3><p>近日，上海某公司年会举行现场，众多模特模仿&amp;ldquo;维密天使&amp;rdquo;戴着品牌眼镜走秀，身着内衣性感演绎山寨版&amp;ldquo;维多利亚的秘密&amp;…<a href="/mingxing/15474.html" target="_blank">[详细]</a></p></div></li>
				 				<li><div class="yuletit"><a href="/mingxing/13311.html" target="_blank">山东选美比基尼小姐下体激凸 网友戏称人妖</a></div><div class="yulepic"><h3><a href="/mingxing/13311.html" target="_blank">"山东选美比基尼小姐下体激凸 网友戏称人妖</a></h3><p>近日，第52届国际小姐中国大赛重庆赛区总决赛完美落幕，最终决出的冠亚季军随着照片的曝光遭到网友的吐槽，甚至出现了黑幕说、拼爹说。…<a href="/mingxing/13311.html" target="_blank">[详细]</a></p></div></li>
				 				<li><div class="yuletit"><a href="/mingxing/38653.html" target="_blank">吴奇隆领衔《步步惊心》五位王爷恋情大比拼</a></div><div class="yulepic"><h3><a href="/mingxing/38653.html" target="_blank">"吴奇隆领衔《步步惊心》五位王爷恋情大比拼</a></h3><p>无独有偶，在继林更新、叶祖新之后，又一位《步步惊心》的王爷扮演者袁弘也因为恋情占据几天娱乐头条倍受关注，人气大增。其实袁弘在《…<a href="/mingxing/38653.html" target="_blank">[详细]</a></p></div></li>
				 				<li class=""><div class="yuletit"><a href="/mingxing/15495.html" target="_blank">最美身材女星韩可露曲线惊人</a></div><div class="yulepic"><h3><a href="/mingxing/15495.html" target="_blank">"最美身材女星韩可露曲线惊人</a></h3><p>韩国媒体曝光歌手韩可露最新写真，健身房照片凸显性感美女的完美身材，一度被评为韩国最美身材女星。惹人惊叹。…<a href="/mingxing/15495.html" target="_blank">[详细]</a></p></div></li>
				 				</ul>
                </div>
            </div>
               <!--accordition-->
	    </div>      	
            </div>
            </div>
		 <div class="clear"></div>
		<div class="adv100090"><script type="text/javascript" src="/d/js/acmsd/thea25.js"></script></div>
		<!--广告位：1000*90-->  
        <div class="all_lanmu ">
        <div class="title1000"><div class="title mytitle myw_sexy"><a href="/meitu/xingganmeinv" target="_blank">性感美女</a></div><div class="more"><a href="/meitu/xingganmeinv" target="_blank">MORE+</a></div></div>
        <ul class="twoline">
				<li class=""><a href="/meitu/38738.html" target="_blank" title="清纯妩媚美女私房"><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/skkipnzj3kq8028.jpg" alt="清纯妩媚美女私房" style="display: block;"><span>清纯妩媚美女私房</span></a><b class="b1">2015-06-03</b><b class="b2">35</b></li>
		</ul>            
        </div>        
        <div class="all_lanmu ">
        <div class="title1000"><div class="title mytitle myw_fresh"><a href="/meitu/weimeixiezhen" target="_blank">清新唯美</a></div><div class="more"><a href="/meitu/weimeixiezhen" target="_blank">MORE+</a></div></div>
        <ul class="twoline">
			<li><a href="/meitu/38709.html" target="_blank" title="花墙天使美如画的少女"><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/znqrdxiago08108.jpg" alt="花墙天使美如画的少女" style="display: block;"><span>花墙天使美如画的少女</span></a><b class="b1">2015-05-25</b><b class="b2">4</b>
			</li>	
		</ul>            
        </div>        
        <div class="all_lanmu ">
        <div class="title1000"><div class="title mytitle myw_beauty"><a href="/meitu/wangluomeinv" target="_blank">网络美女</a></div><div class="more"><a href="/meitu/wangluomeinv" target="_blank">MORE+</a></div></div>
           <ul class="twoline">
           		<li class=""><a href="/meitu/38690.html" target="_blank" title="清新短发女人的小性感"><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/bsz33ndxmuv8294.jpg" alt="清新短发女人的小性感" style="display: block;"><span>清新短发女人的小性感</span></a><b class="b1">2015-06-03</b><b class="b2">13</b></li>
		   </ul>             
        </div>        
        <div class="all_lanmu ">
        <div class="title1000"><div class="title mytitle myw_model"><a href="/meitu/motemeinv" target="_blank">模特美女</a></div><div class="more"><a href="/meitu/motemeinv" target="_blank">MORE+</a></div></div>
        <ul class="oneline">
        	<li class=""><a href="/meitu/38674.html" target="_blank" title="性感帅气的摩托女模"><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/ibouu4s4b2d8537.jpg" alt="性感帅气的摩托女模" style="display: block;"><span>性感帅气的摩托女模</span></a><b class="b1">2015-05-27</b><b class="b2">8</b></li>
		</ul>            
        </div>  
        <div class="clear"></div>
		<div class="adv100090"><script type="text/javascript" src="/d/js/acmsd/thea26.js"></script></div>
		<!--广告位：1000*90-->  		
<div class="all_gqbz">
        <div class="title1000">
            <div class="title mt"><a href="/bizhi" target="_blank">高清壁纸</a></div>
            <div class="more">
                <a href="/bizhi" target="_blank">MORE+</a>
            </div>
        </div>
        <div class="gqbz">
            <ul>
            	<li class=""><a href="/bizhi/38764.html" target="_blank" title="深绿色布加迪超跑飞驰桌面壁纸"><img src="http://img.92demo.com/4493/d/file/p/2015-06-02/ucdohh2sjck4230.jpg" alt="深绿色布加迪超跑飞驰桌面壁纸" style="display: block;"><span>深绿色布加迪超跑飞驰桌面壁纸</span></a><b class="b1">2015-06-02</b><b class="b2">21</b></li>
		   </ul>
        </div>      
        <div class="gqbz225">
            <a href="/bizhi/heji" target="_blank"><img src="__PUBLIC__/style/img/bzhj.jpg"></a>
            <div class="ti">热门壁纸</div>
            <ul>
						</ul>                
        </div>                 
    </div>      
        <div class="all_lanmu">       
        <div class=" ">
        <div id="sjgq">	 
 	<div class="bd">
      	<div class="day"><img src="__PUBLIC__/style/img/jxmt.jpg" /></div> 
		         <div class="pic0"><div class="inner"><a href="/meitu/5382.html" target="_blank" title="Vicky的私房诱惑"><img src="http://img.92demo.com/4493/d/file/p/2015-05-20/offcxjcnztr96003.jpg" alt="Vicky的私房诱惑" style="display: inline;"></a> <div class="undis"><a href="/meitu/5382.html" target="_blank" class="txt">Vicky的私房诱惑</a><div class="cover"></div><div class="border"><a href="/meitu/5382.html" target="_blank"></a></div></div></div>
		     </div>
		     <div class="pic1"><div class="inner"><a href="/meitu/2860.html" target="_blank" title="陈思琪Art"><img src="http://img.92demo.com/4493/d/file/p/2015-05-20/ypakg0sladf126344.jpg" alt="陈思琪Art" style="display: inline;"></a> <div class="undis"><a href="/meitu/2860.html" target="_blank" class="txt">陈思琪Art</a><div class="cover"></div><div class="border"><a href="/meitu/2860.html" target="_blank"></a></div></div></div></div>
		     <div class="pic2"><div class="inner"><a href="/meitu/10075.html" target="_blank" title="长腿美女蓝色制服肉丝袜迷惑男人写真"><img src="http://img.92demo.com/4493/d/file/p/2015-05-20/jfi2z4imzth38130.jpg" alt="长腿美女蓝色制服肉丝袜迷惑男人写真" style="display: inline;"></a> <div class="undis"><a href="/meitu/10075.html" target="_blank" class="txt">长腿美女蓝色制服肉丝袜迷惑男人写真</a><div class="cover"></div><div class="border"><a href="/meitu/10075.html" target="_blank"></a></div></div></div></div>
		     <div class="pic3"><div class="inner"><a href="/meitu/10007.html" target="_blank" title="性感黑丝少女的床上诱惑"><img src="http://img.92demo.com/4493/d/file/p/2015-05-20/enjj1muzbd538583.jpg" alt="性感黑丝少女的床上诱惑" style="display: inline;"></a> <div class="undis"><a href="/meitu/10007.html" target="_blank" class="txt">性感黑丝少女的床上诱惑</a><div class="cover"></div><div class="border"><a href="/meitu/10007.html" target="_blank"></a></div></div></div></div>
		     <div class="pic4"><div class="inner"><a href="/meitu/10057.html" target="_blank" title="肉丝黑丝美女宾馆写真"><img src="http://img.92demo.com/4493/d/file/p/2015-05-20/dc5ynmnmetw38243.jpg" alt="肉丝黑丝美女宾馆写真" style="display: inline;"></a> <div class="undis"><a href="/meitu/10057.html" target="_blank" class="txt">肉丝黑丝美女宾馆写真</a><div class="cover"></div><div class="border"><a href="/meitu/10057.html" target="_blank"></a></div></div></div></div>
		     <div class="pic5"><div class="inner"><a href="/meitu/13267.html" target="_blank" title="肉色丝袜美女极致性感美腿诱惑"><img src="http://img.92demo.com/4493/d/file/p/2015-05-20/vet1qpsiec3341.jpg" alt="肉色丝袜美女极致性感美腿诱惑" style="display: inline;"></a> <div class="undis"><a href="/meitu/13267.html" target="_blank" class="txt">肉色丝袜美女极致性感美腿诱惑</a><div class="cover"></div><div class="border"><a href="/meitu/13267.html" target="_blank"></a></div></div></div></div>
		     <div class="pic6"><div class="inner"><a href="/meitu/2873.html" target="_blank" title="杨依"><img src="http://img.92demo.com/4493/d/file/p/2015-05-20/nuzno12jwfp126212.jpg" alt="杨依" style="display: inline;"></a> <div class="undis"><a href="/meitu/2873.html" target="_blank" class="txt">杨依</a><div class="cover"></div><div class="border"><a href="/meitu/2873.html" target="_blank"></a></div></div></div></div>
		</div>
    </div>  
    <script type="text/javascript">  $(function(){$('.inner').hover(function(){$(this).find('div').eq(0).attr('class','dis');},function(){$(this).find('div').eq(0).attr('class','undis');})})</script>                 
    </div>   
    </div>
	 <div class="clear"></div>
		<div class="adv100090"><script type="text/javascript" src="/d/js/acmsd/thea27.js"></script></div>
		<!--广告位：1000*90-->  
    <div class="friendlinks"><div class="linkbt"><h2>友情链接</h2></div><p>
	 <li><a href="http://www.dede168.com" title="源码下载" target="_blank">源码下载</a></li>
 
</p>
    </div>
    </div>
    <div class="indexfooter">
    <div  class="foot"><div class="f_about"><ul> 
	<li><a href="/about/" target="_blank">联系我们</a></li>
	<li><a href="/about/friend.html" target="_blank">商务合作</a></li>
	<li class="foot4"></li><li><a href="/about/sitemap.html" target="_blank">网站地图</a></li>
	<li><a href="/about/link.html" target="_blank">友情链接</a></li>
	</ul></div>	
    {include file="Public/footer"/}
</div>
    </div>
</body>
</html>