<script type="text/javascript" src="/style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/style/js/imglazyload.js"></script>
<script type="text/javascript" src="/style/js/global.js"></script>
<script type="text/javascript" src="/style/js/gotop.js"></script>
<!--[if lte IE 6]>
<script src="/style/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div,a');
	</script> 
<![endif]-->
</head>
<body>
<div class="headerline"><div class="header"><a href="/" class="logo"></a>
<ul class="topulnav"> 
   <li><a href="/new" target="_blank" class="havechild">美图</a> 
    <div class="childnav">
     <p><a href="/meitu/xingganmeinv/" target="_blank">性感美女</a></p>
     <p><a href="/meitu/siwameitui/" target="_blank">丝袜美腿</a></p>
     <p><a href="/meitu/weimeixiezhen/" target="_blank">唯美写真</a></p>
     <p><a href="/meitu/wangluomeinv/" target="_blank">网络美女</a></p>
     <p><a href="/meitu/gaoqingmeinv/" target="_blank">高清美女</a></p>
     <p><a href="/meitu/motemeinv/" target="_blank">模特美女</a></p>
     <p><a href="/meitu/tiyumeinv/" target="_blank">体育美女</a></p>
     <p><a href="/meitu/dongmanmeinv/" target="_blank">动漫美女</a></p>
    </div></li> 
   <li><a href="/mingxing" target="_blank" class="havechild">明星</a> 
    <div class="childnav">
     <p><a href="/mingxing/list/" target="_blank">明星资料</a></p>
     <p><a href="/mingxing/nvxingxiezhen/" target="_blank">女星写真</a></p>
     <p><a href="/mingxing/nanxingtupian/" target="_blank">男星图片</a></p>
     <p><a href="/mingxing/yulexinwen/" target="_blank">娱乐新闻</a></p>
    </div></li> 
   <li><a href="/meishi" target="_blank">美食</a></li> 
   <li><a href="/bizhi" target="_blank">壁纸</a></li> 
   <li><a href="/zhuanti" target="_blank">专题</a></li> 
   <li><a href="/top/" target="_blank">排行榜</a></li> 
   <li><a href="/mobile.html" target="_blank">手机版</a></li> 
  </ul>
   <div class="headright"><div class="pub_search">
 <form action="/e/search/" method="post" target="_blank">
	<input type="hidden" name="show" value="title,keyboard" />
	<input type="hidden" name="tbname" value="photo" />
	<input type="hidden" name="tempid" value="1" />
	<input class="search_btn" type="submit" value="">
	<input type="text" class="text" autocomplete="off"  maxlength="20"  id="searchkeywords" name="keyboard" value="输入美女词后按回车键..." />
</form></div>
   </div>
  </div>
</div> 